<!-- EJS Header -->
<head>
  <title>Product Compass</title>
</head>
<%- include("partials/header") -%>


<!-- Main headliner -->
<section id="title" class="main-background p-3 ">

  <div class="container-fluid row-full home-intro-text home-text-background">
    <h1>Product Compass is going live soon. Stay tuned!</h1>
    <p>We navigate your roadmap to find your northstar.</p>
  </div>
</section>


<!-- EJS Footer -->
<%- include("partials/footer") -%>